#link {
    position: absolute; top: 30px; right: 15px; width: 100px; text-align:right;
  text-decoration: none;
  color: black;


}

#link2 {
  color: black;
    position: absolute; top: 30px; right: 102px; width: 100px; text-align:right;
  text-decoration: none;
  

}

#link:hover{
    color:white;
}
#link2:hover{
    color:white;
}

#signout {
  position: absolute; top: 30px; right: 42px; width: 100px; text-align:right;
  text-decoration: none;
  color: black;
  position: fixed;


}
#signout:hover{
  color:white;
}