#link {
    position: absolute; top: 30px; right: 10px; width: 100px; text-align:right;
  text-decoration: none;
  color: black;
  position: fixed;


}

#link2 {
  color: black;
    position: absolute; top: 30px; right: 90px; width: 100px; text-align:right;
  text-decoration: none;
  position: fixed;
  

}

#link:hover{
    color:white;
}
#link2:hover{
    color:white;
}

#signout {
  position: absolute; top: 30px; right: 30px; width: 100px; text-align:right;
  text-decoration: none;
  color: black;
  position: fixed;
  font-size: 25px;
 


}
#signout:hover{
  color:white;
}




@media all and (max-width:768px) {

  #signout {
  position: absolute; top: 30px; right: 30px; width: 100px; text-align:right;
  text-decoration: none;
  color: black;
  
 


}
    
    
}

