#link {
    position: absolute; top: 30px; right: 30px; width: 100px; text-align:right;
  text-decoration: none;
  color: black;

}

#link2 {
  color: black;
    position: absolute; top: 30px; right: 130px; width: 100px; text-align:right;
  text-decoration: none;

}

#link:hover{
    color:#dddddd;
}
#link2:hover{
    color:#dddddd;
}