#year {
    /* padding-top: 500px; */
    /* position: relative; */
    /* text-align: center; */
    font-family:cursive;
    position: fixed;
    right: 15px;
   bottom:-10px;
   font-size: 13px;
   color: black;
   /* position: fixed; */
  

}





#inner-circle{
    width: 280px;
    height: 240px; /* as the half of the width */
    
    border-top-left-radius: 250px;  /* 100px of height + 10px of border */
    border-top-right-radius: 250px; /* 100px of height + 10px of border */
    border: 10px solid white;
    border-width: 50px;
    border-bottom: 0;
    position: fixed;
     bottom: 0;
    left: -170px;
    overflow-x: hidden;
    box-shadow: 6px 6px 6px 6px  #00000040;
   

  }


  
#inner-circle2{
    width: 280px;
    height: 240px; /* as the half of the width */
    border-bottom-left-radius: 250px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 250px; /* 100px of height + 10px of border */
    border: 10px solid white;
    border-width: 50px;
    border-top: 0;
    position: fixed;
     top: 0;
    right: -170px;
    overflow-x: hidden;
    pointer-events: none;
    box-shadow: 6px 6px 6px 6px  #00000040;

  }




  @media all and (max-width: 768px) {
    #inner-circle2{
      width:0;
      height:0;
    }

    #inner-circle{
      width:0;
      height:0;
    }


  

    
  }





